# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [19]:
import numpy as np 
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [20]:
dset = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",sep='\t')

### Step 3. Assign it to a variable called chipo.

In [21]:
chipo = dset

In [22]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 4. What is the name of the max valued product?

In [23]:
chipo['item_price'] = chipo['item_price'].str[1:].astype(float)

In [24]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [25]:
chipo.describe(include='all')

           order_id     quantity     item_name choice_description   item_price
count   4622.000000  4622.000000          4622               3376  4622.000000
unique          NaN          NaN            50               1043          NaN
top             NaN          NaN  Chicken Bowl        [Diet Coke]          NaN
freq            NaN          NaN           726                134          NaN
mean     927.254868     1.075725           NaN                NaN     7.464336
std      528.890796     0.410186           NaN                NaN     4.245557
min        1.000000     1.000000           NaN                NaN     1.090000
25%      477.250000     1.000000           NaN                NaN     3.390000
50%      926.000000     1.000000           NaN                NaN     8.750000
75%     1393.000000     1.000000           NaN                NaN     9.250000
max     1834.000000    15.000000           NaN                NaN    44.250000

In [26]:
chipo.sort_values(['item_price'],ascending=False).head(1)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

In [27]:
chipo.sort_values(['item_price'],ascending=False).head(1)["item_name"]

3598    Chips and Fresh Tomato Salsa
Name: item_name, dtype: object

In [28]:
chipo.sort_values(['item_price'],ascending=False).head(1)['item_name']

3598    Chips and Fresh Tomato Salsa
Name: item_name, dtype: object

In [29]:
chipo.sort_values(['item_price'],ascending=False)['item_name']

3598    Chips and Fresh Tomato Salsa
3480                   Carnitas Bowl
1254                 Chicken Burrito
3602                 Chicken Burrito
3601                  Veggie Burrito
                    ...
3936                     Canned Soda
2922                   Bottled Water
1396                     Canned Soda
2562                     Canned Soda
1457                     Canned Soda
Name: item_name, Length: 4622, dtype: object

In [30]:

# select only the item_name and item_price columns
a = chipo.loc[:, ['item_name','item_price']]
a

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

In [31]:
# sort the values from the most to less expensive
i=a.sort_values('item_price',ascending = False)
i.head(10)

                         item_name  item_price
3598  Chips and Fresh Tomato Salsa       44.25
3480                 Carnitas Bowl       35.25
1254               Chicken Burrito       35.00
3602               Chicken Burrito       35.00
3601                Veggie Burrito       33.75
409                   Chicken Bowl       32.94
1255                 Steak Burrito       27.75
3603                 Steak Burrito       27.75
3636               Chicken Burrito       26.25
3634               Chicken Burrito       26.25

### Step 5. What is the price of each item? 
#### print a data frame with only two columns item_name and item_price

In [32]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [33]:
chipo["unit_price"] = chipo["item_price"] / chipo["quantity"]

In [34]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,unit_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,8.49

In [35]:
unitp = chipo.loc[:, ['item_name','choice_description','unit_price']]
unitp.head(50)

,item_name,choice_description,unit_price
0,Chips and Fresh Tomato Salsa,NaN,2.39
1,Izze,[Clementine],3.39
2,Nantucket Nectar,[Apple],3.39
3,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",8.49
5,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
6,Side of Chips,NaN,1.69
7,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
8,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25
9,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25
10,Chips and Guacamole,NaN,4.45
11,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
12,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",8.75
13,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
14,Chips and Guacamole,NaN,4.45
15,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
16,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",8.49
17,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",8.49
18,Canned Soda,[Sprite],1.09
19,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",8.75
20,Chips and Guacamole,NaN,4.45
21,Barbacoa Burrito,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",8.99
22,Nantucket Nectar,[Pomegranate Cherry],3.39
23,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98
24,Izze,[Grapefruit],3.39
25,Chips and Fresh Tomato Salsa,NaN,2.39
26,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",8.49
27,Carnitas Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",8.99
28,Canned Soda,[Dr. Pepper],1.09
29,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",8.49
30,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
31,Steak Burrito,"[[Roasted Chili Corn Salsa (Medium), Fresh Tom...",8.99
32,Side of Chips,NaN,1.69
33,Carnitas Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",8.99
34,Bottled Water,NaN,1.09
35,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, Rice]",8.75
36,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",8.75
37,Chips and Guacamole,NaN,4.45
38,Chips and Tomatillo Green Chili Salsa,NaN,2.95
39,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.75
40,Chips,NaN,2.15
41,Chips and Guacamole,NaN,4.45
42,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",11.25
43,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Chees...",11.75
44,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75
45,Chicken Burrito,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",10.98
46,Steak Burrito,"[Tomatillo-Red Chili Salsa (Hot), [Rice, Fajit...",8.99
47,Izze,[Blackberry],3.39
48,Steak Burrito,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",8.99
49,Chips and Guacamole,NaN,3.99

In [36]:
unitp.groupby(["item_name",'choice_description',"unit_price"]).count()

Empty DataFrame
Columns: []
Index: [(6 Pack Soft Drink, [Coke], 6.49), (6 Pack Soft Drink, [Diet Coke], 6.49), (6 Pack Soft Drink, [Lemonade], 6.49), (6 Pack Soft Drink, [Nestea], 6.49), (6 Pack Soft Drink, [Sprite], 6.49), (Barbacoa Bowl, [Fresh Tomato (Mild), [Lettuce, Black Beans, Rice]], 8.69), (Barbacoa Bowl, [Fresh Tomato (Mild), [Lettuce, Rice, Cheese]], 8.69), (Barbacoa Bowl, [Fresh Tomato Salsa (Mild), [Black Beans, Rice, Cheese, Sour Cream, Guacamole, Lettuce]], 11.48), (Barbacoa Bowl, [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sour Cream, Lettuce]], 8.99), (Barbacoa Bowl, [Fresh Tomato Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Guacamole, Lettuce]], 11.75), (Barbacoa Bowl, [Fresh Tomato Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese]], 9.25), (Barbacoa Bowl, [Fresh Tomato Salsa, [Fajita Vegetables, Rice, Black Beans, Guacamole, Lettuce]], 11.75), (Barbacoa Bowl, [Fresh Tomato Salsa, [Fajita Vegetables, Rice, Cheese, Sour Cream]], 9.25), (Barbacoa Bowl, [Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Lettuce]], 9.25), (Barbacoa Bowl, [Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]], 11.75), (Barbacoa Bowl, [Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole]], 11.75), (Barbacoa Bowl, [Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]], 9.25), (Barbacoa Bowl, [Fresh Tomato Salsa, [Rice, Black Beans, Cheese]], 9.25), (Barbacoa Bowl, [Fresh Tomato Salsa, [Rice, Black Beans, Pinto Beans, Cheese, Sour Cream, Lettuce]], 9.25), (Barbacoa Bowl, [Fresh Tomato Salsa, [Rice, Black Beans, Sour Cream, Lettuce]], 9.25), (Barbacoa Bowl, [Fresh Tomato Salsa, [Rice, Cheese, Sour Cream, Guacamole, Lettuce]], 11.75), (Barbacoa Bowl, [Fresh Tomato Salsa, [Rice, Fajita Vegetables, Black Beans, Sour Cream]], 9.25), (Barbacoa Bowl, [Guacamole], 11.49), (Barbacoa Bowl, [Roasted Chili Corn Salsa, [Cheese, Lettuce]], 9.25), (Barbacoa Bowl, [Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]], 11.75), (Barbacoa Bowl, [Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Guacamole]], 11.75), (Barbacoa Bowl, [Roasted Chili Corn Salsa, [Pinto Beans, Sour Cream, Cheese, Lettuce, Guacamole]], 11.75), (Barbacoa Bowl, [Roasted Chili Corn Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]], 9.25), (Barbacoa Bowl, [Roasted Chili Corn Salsa, [Rice, Cheese, Lettuce]], 9.25), (Barbacoa Bowl, [Roasted Chili Corn Salsa], 9.25), (Barbacoa Bowl, [Tomatillo Green Chili Salsa, [Fajita Vegetables, Pinto Beans, Sour Cream, Guacamole, Lettuce]], 11.75), (Barbacoa Bowl, [Tomatillo Green Chili Salsa, [Fajita Vegetables, Rice, Black Beans, Pinto Beans, Guacamole]], 11.75), (Barbacoa Bowl, [Tomatillo Green Chili Salsa, [Rice, Cheese, Guacamole, Lettuce]], 11.75), (Barbacoa Bowl, [Tomatillo Red Chili Salsa, [Black Beans, Cheese, Sour Cream, Guacamole]], 11.75), (Barbacoa Bowl, [Tomatillo Red Chili Salsa, [Cheese, Sour Cream, Guacamole, Lettuce]], 11.75), (Barbacoa Bowl, [Tomatillo Red Chili Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]], 11.75), (Barbacoa Bowl, [Tomatillo Red Chili Salsa, [Fajita Vegetables, Rice, Black Beans, Pinto Beans, Cheese, Sour Cream, Guacamole, Lettuce]], 11.75), (Barbacoa Bowl, [Tomatillo Red Chili Salsa, [Rice, Black Beans, Cheese, Lettuce]], 9.25), (Barbacoa Bowl, [Tomatillo Red Chili Salsa, [Rice, Black Beans, Cheese]], 9.25), (Barbacoa Bowl, [Tomatillo Red Chili Salsa, [Rice, Black Beans, Sour Cream, Cheese, Lettuce]], 9.25), (Barbacoa Bowl, [Tomatillo Red Chili Salsa, [Rice, Cheese, Lettuce]], 9.25), (Barbacoa Bowl, [Tomatillo Red Chili Salsa, [Rice, Fajita Vegetables, Black Beans, Sour Cream, Cheese, Lettuce, Guacamole]], 11.75), (Barbacoa Bowl, [Tomatillo Red Chili Salsa, [Rice, Fajita Vegetables, Black Beans, Sour Cream, Cheese]], 9.25), (Barbacoa Bowl, [Tomatillo Red Chili Salsa, [Rice, Pinto Beans, Cheese, Lettuce]], 9.25), (Barbacoa Bowl, [Tomatillo Red Chili Salsa], 9.25), (Barbacoa Bowl, [Tomatillo-Green Chili Salsa (Medium), [Black Beans, Rice, Cheese, Guacamole]], 11.48), (Barbacoa Bowl, [Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream, Lettuce]], 8.99), (Barbacoa Bowl, [[Rice, Cheese]], 8.69), (Barbacoa Bowl, [[Roasted Chili Corn Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Pinto Beans, Rice, Fajita Veggies]], 8.99), (Barbacoa Bowl, [[Tomatillo-Green Chili Salsa (Medium), Roasted Chili Corn Salsa (Medium)], [Black Beans, Rice, Cheese, Guacamole]], 11.48), (Barbacoa Bowl, [[Tomatillo-Green Chili Salsa (Medium), Roasted Chili Corn Salsa (Medium)], [Rice, Fajita Veggies, Guacamole, Lettuce]], 11.48), (Barbacoa Bowl, [[Tomatillo-Green Chili Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Black Beans, Rice, Cheese, Lettuce]], 8.99), (Barbacoa Bowl, [[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Green Chili Salsa (Medium)], [Rice, Pinto Beans, Fajita Veggies, Cheese, Sour Cream, Lettuce]], 8.99), (Barbacoa Bowl, [[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Green Chili Salsa (Medium)], [Rice, Pinto Beans, Fajita Veggies, Lettuce]], 8.99), (Barbacoa Burrito, [Fresh Tomato (Mild), [Black Beans, Rice, Sour Cream, Cheese]], 8.69), (Barbacoa Burrito, [Fresh Tomato (Mild), [Guacamole, Rice, Black Beans]], 11.08), (Barbacoa Burrito, [Fresh Tomato Salsa (Mild), [Black Beans, Rice, Cheese, Sour Cream, Guacamole, Lettuce]], 11.48), (Barbacoa Burrito, [Fresh Tomato Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Guacamole, Lettuce]], 11.75), (Barbacoa Burrito, [Fresh Tomato Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Lettuce]], 9.25), (Barbacoa Burrito, [Fresh Tomato Salsa, [Fajita Vegetables, Rice, Black Beans, Sour Cream, Guacamole, Lettuce]], 11.75), (Barbacoa Burrito, [Fresh Tomato Salsa, [Fajita Vegetables, Rice, Cheese, Lettuce]], 9.25), (Barbacoa Burrito, [Fresh Tomato Salsa, [Fajita Vegetables, Rice, Cheese, Sour Cream, Guacamole, Lettuce]], 11.75), (Barbacoa Burrito, [Fresh Tomato Salsa, [Fajita Vegetables, Rice, Cheese, Sour Cream]], 9.25), (Barbacoa Burrito, [Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Lettuce]], 9.25), (Barbacoa Burrito, [Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream]], 9.25), (Barbacoa Burrito, [Fresh Tomato Salsa, [Rice, Cheese]], 9.25), (Barbacoa Burrito, [Fresh Tomato Salsa, [Rice, Pinto Beans, Cheese, Lettuce]], 9.25), (Barbacoa Burrito, [Fresh Tomato Salsa, [Rice, Pinto Beans, Cheese, Sour Cream, Lettuce]], 9.25), (Barbacoa Burrito, [Fresh Tomato Salsa, [Rice, Pinto Beans, Cheese]], 9.25), (Barbacoa Burrito, [Fresh Tomato Salsa, [Rice, Pinto Beans, Guacamole, Lettuce]], 11.75), (Barbacoa Burrito, [Roasted Chili Corn Salsa (Medium), [Black Beans, Rice, Cheese, Sour Cream]], 8.99), (Barbacoa Burrito, [Roasted Chili Corn Salsa (Medium), [Black Beans, Rice, Fajita Veggies, Cheese, Lettuce]], 8.99), (Barbacoa Burrito, [Roasted Chili Corn Salsa (Medium), [Rice, Fajita Veggies, Cheese, Sour Cream, Lettuce]], 8.99), (Barbacoa Burrito, [Roasted Chili Corn Salsa, [Black Beans, Cheese, Sour Cream]], 9.25), (Barbacoa Burrito, [Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Black Beans, Sour Cream, Guacamole]], 11.75), (Barbacoa Burrito, [Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Cheese, Sour Cream, Guacamole, Lettuce]], 11.75), (Barbacoa Burrito, [Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Cheese, Sour Cream, Lettuce]], 9.25), (Barbacoa Burrito, [Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Pinto Beans, Cheese, Sour Cream, Lettuce]], 9.25), (Barbacoa Burrito, [Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Sour Cream, Guacamole]], 11.75), (Barbacoa Burrito, [Roasted Chili Corn Salsa, [Fajita Vegetables, Sour Cream, Cheese, Lettuce, Guacamole]], 11.75), (Barbacoa Burrito, [Roasted Chili Corn Salsa, [Rice, Black Beans, Cheese, Guacamole, Lettuce]], 11.75), (Barbacoa Burrito, [Roasted Chili Corn Salsa, [Rice, Black Beans, Cheese, Lettuce, Guacamole]], 11.75), (Barbacoa Burrito, [Roasted Chili Corn Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]], 9.25), (Barbacoa Burrito, [Roasted Chili Corn Salsa, [Rice, Black Beans, Cheese, Sour Cream]], 9.25), (Barbacoa Burrito, [Roasted Chili Corn Salsa, [Rice, Black Beans, Sour Cream, Cheese]], 9.25), (Barbacoa Burrito, [Roasted Chili Corn Salsa, [Rice, Cheese, Sour Cream, Lettuce]], 9.25), (Barbacoa Burrito, [Roasted Chili Corn Salsa, [Rice, Pinto Beans, Cheese, Guacamole, Lettuce]], 11.75), (Barbacoa Burrito, [Roasted Chili Corn Salsa, [Rice, Pinto Beans, Cheese, Guacamole]], 11.75), (Barbacoa Burrito, [Roasted Chili Corn Salsa, [Rice, Pinto Beans, Cheese, Lettuce, Guacamole]], 11.75), (Barbacoa Burrito, [Roasted Chili Corn Salsa, [Rice, Pinto Beans, Cheese, Sour Cream, Lettuce]], 9.25), (Barbacoa Burrito, [Roasted Chili Corn Salsa, [Rice, Pinto Beans, Cheese, Sour Cream]], 9.25), (Barbacoa Burrito, [Roasted Chili Corn Salsa, [Rice, Pinto Beans, Sour Cream, Cheese]], 9.25), (Barbacoa Burrito, [Roasted Chili Corn Salsa], 9.25), (Barbacoa Burrito, [Tomatillo Green Chili Salsa, [Fajita Vegetables, Pinto Beans, Sour Cream, Cheese, Lettuce]], 9.25), (Barbacoa Burrito, [Tomatillo Green Chili Salsa, [Rice, Black Beans, Cheese, Lettuce]], 9.25), (Barbacoa Burrito, [Tomatillo Green Chili Salsa, [Rice, Black Beans, Sour Cream, Cheese, Lettuce]], 9.25), (Barbacoa Burrito, [Tomatillo Green Chili Salsa, [Rice, Black Beans, Sour Cream, Cheese]], 9.25), (Barbacoa Burrito, [Tomatillo Green Chili Salsa, [Rice, Fajita Vegetables, Pinto Beans, Sour Cream, Cheese]], 9.25), (Barbacoa Burrito, [Tomatillo Green Chili Salsa, [Rice, Pinto Beans, Cheese, Guacamole]], 11.75), (Barbacoa Burrito, [Tomatillo Green Chili Salsa], 9.25), ...]

[1859 rows x 0 columns]

### Step 6. Sort by the name of the item

In [37]:
j=unitp.sort_values('item_name',ascending = True)
j.head(25)

              item_name choice_description  unit_price
3389  6 Pack Soft Drink        [Diet Coke]        6.49
341   6 Pack Soft Drink        [Diet Coke]        6.49
1849  6 Pack Soft Drink             [Coke]        6.49
1860  6 Pack Soft Drink        [Diet Coke]        6.49
2713  6 Pack Soft Drink             [Coke]        6.49
3422  6 Pack Soft Drink             [Coke]        6.49
553   6 Pack Soft Drink        [Diet Coke]        6.49
1916  6 Pack Soft Drink        [Diet Coke]        6.49
1922  6 Pack Soft Drink             [Coke]        6.49
1937  6 Pack Soft Drink        [Diet Coke]        6.49
3836  6 Pack Soft Drink             [Coke]        6.49
298   6 Pack Soft Drink           [Sprite]        6.49
1976  6 Pack Soft Drink        [Diet Coke]        6.49
1167  6 Pack Soft Drink             [Coke]        6.49
3875  6 Pack Soft Drink        [Diet Coke]        6.49
1124  6 Pack Soft Drink             [Coke]        6.49
3886  6 Pack Soft Drink        [Diet Coke]        6.49
2108  6 Pack Soft Drink             [Coke]        6.49
3010  6 Pack Soft Drink        [Diet Coke]        6.49
4535  6 Pack Soft Drink         [Lemonade]        6.49
4169  6 Pack Soft Drink        [Diet Coke]        6.49
4174  6 Pack Soft Drink             [Coke]        6.49
4527  6 Pack Soft Drink        [Diet Coke]        6.49
4522  6 Pack Soft Drink        [Diet Coke]        6.49
3806  6 Pack Soft Drink           [Sprite]        6.49

In [38]:


# OR

### Step 7. What was the quantity of the most expensive item ordered?

In [40]:
# Segun esto el item mas caro cuesta 11.89 y se ordenaron 30 items en total (de 3 tipos diferentes).
unitp.sort_values('unit_price',ascending = False).max()["unit_price"]
df_expensive = chipo[chipo["unit_price"] == unitp.sort_values('unit_price',ascending = False).max()["unit_price"]]
df_expensive.groupby("item_name").sum()["quantity"]

item_name
Barbacoa Salad Bowl     5
Carnitas Salad Bowl     4
Steak Salad Bowl       21
Name: quantity, dtype: int64

In [41]:
df_expensive.sum()["quantity"]

30

In [54]:
j=unitp.sort_values('unit_price',ascending = False)
j.head(25)

,item_name,choice_description,unit_price
2442,Barbacoa Salad Bowl,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.89
2957,Steak Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Cheese, Gua...",11.89
613,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.89
2401,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Guaca...",11.89
281,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",11.89
2804,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",11.89
4239,Carnitas Salad Bowl,"[Tomatillo Green Chili Salsa, [Black Beans, Ch...",11.89
2740,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",11.89
3120,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.89
4313,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.89
3546,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, Guacamole]",11.89
1816,Steak Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",11.89
1311,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.89
2610,Carnitas Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.89
1159,Steak Salad Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",11.89
1590,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.89
1571,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Sour ...",11.89
3493,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.89
1326,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.89
3350,Steak Salad Bowl,"[Fresh Tomato Salsa, [Cheese, Guacamole, Lettu...",11.89
606,Steak Salad Bowl,"[Fresh Tomato Salsa, [Pinto Beans, Cheese, Gua...",11.89
749,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Rice, Cheese, Lett...",11.89
1229,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",11.89
3749,Carnitas Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.89
1132,Carnitas Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",11.89

In [58]:
# Esto coincide con la respuesta pero NO estoy de acuerdp
chipo.sort_values('item_price',ascending = False).head(1)

,order_id,quantity,item_name,choice_description,item_price,unit_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25,2.95

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [55]:
vsb = chipo.groupby('item_name').sum().sort_values(['quantity'],ascending=False)
vsb.head()
vsb['quantity']['Veggie Salad Bowl']    #Muestra la columna quantity de la fila indicada (pues item_name es el index)
#res = vsb.loc[vsb.loc[:,'item_name']=="Veggie Salad Bowl"]
#res.head()

18

18

### Step 9. How many times did someone order more than one Canned Soda?

In [59]:
m1 = chipo.loc[chipo.loc[:, 'quantity'] > 1]  #Hago un dataframe con los que tienen cantidad >1
cs = m1.loc[m1.loc[:,'item_name']== "Canned Soda"]  #Del df anterior filtro los que ordenaron Canned Soda
len(cs)  #Cuento las filas resultantes
cs.shape[0] #Otra forma de contar las filas resultantes
#cs.head(25)
#cs.quantity.sum()

20

20