### 9. Ejercicios: 

- Crea dos listas: una que tenga 4 nombres de ciudades y otra que tenga 4 lugares emblemáticos de la ciudad.

In [4]:
# Code
ciudades = ["Madrid", "Roma", "Paris" , "Florencia"]
landmarks  = ["Retiro", "Coliseo" , "Torre Eiffel" , "Ponte Vecchio"]
print (ciudades)
print(landmarks)

['Madrid', 'Roma', 'Paris', 'Florencia']
['Retiro', 'Coliseo', 'Torre Eiffel', 'Ponte Vecchio']

### A partir de funciones con diccionarios:

- Crea un diccionario con un entero 5 como key y "val" como su value.

In [5]:
# Code
dicc = {5:"val"}
print(dicc)
print (type(dicc))

{5: 'val'}
<class 'dict'>

- Crea una función que a reciba dos listas 'lista1' y 'lista2' por parámetro y retorne un diccionario teniendo como keys cada elemento de 'lista1' y como values los elementos de 'lista2'. Llama a la función con las listas que has creado antes para que devuelva un diccionario con cada ciudad como key asociado a un lugar emblemático como value.

In [6]:
# Code
def crear_dicc (lista1, lista2):
    dicc ={}
    for j in range (len(lista1)):
        dicc[lista1[j]] = lista2[j]
    return dicc

diccionario = crear_dicc (ciudades, landmarks)
print(diccionario)

{'Madrid': 'Retiro', 'Roma': 'Coliseo', 'Paris': 'Torre Eiffel', 'Florencia': 'Ponte Vecchio'}

In [6]:
pruebazip = list(zip (ciudades, landmarks))
print(pruebazip)

[('Madrid', 'Retiro'), ('Roma', 'Coliseo'), ('Paris', 'Torre Eiffel'), ('Florencia', 'Ponte Vecchio')]

*Hay que utilizar la lista de alumn@s con sus nombres y alturas*

- Crea una función que, a partir de dos listas, retorne un diccionario en el que cada key sea el nombre de un alumno y su value debe ser la altura.

In [7]:
# Code
lista_completa = [["Jalex", 6, 47, 1.80], ["Tomas", 5, 31, 1.80], ["David", 6, 39, 1.81], ["Natalio", 2, 29, 1.73], ["Monica", 3, 47, 1.73], ["Roxanna", 4,24,1.75], ["Filipa", 5,34,1.64], ["Elsa", 4, 36, 1.89], ["Cristina", 3, 46, 1.70], ["Clara", 6, 29, 1.67], ["Alba", 3, 29, 1.68], ["Valeria",1, 40, 1.60], ["Jose Luis", 4, 47, 1.69], ["Gabriel", 1, 28, 1.76], ["Rochi", 2, 38, 1.60], ["Jose Maria", 5, 51, 1.75]]


lista_nombres= [elem[0] for elem in lista_completa]
print("lista_nombres:" , lista_nombres, "\n")

lista_alturas = [elem[-1] for elem in lista_completa]
print ("lista_alturas:" , lista_alturas, "\n")

dicc2 = crear_dicc (lista_nombres, lista_alturas)
print (dicc2)

lista_nombres: ['Jalex', 'Tomas', 'David', 'Natalio', 'Monica', 'Roxanna', 'Filipa', 'Elsa', 'Cristina', 'Clara', 'Alba', 'Valeria', 'Jose Luis', 'Gabriel', 'Rochi', 'Jose Maria']

lista_alturas: [1.8, 1.8, 1.81, 1.73, 1.73, 1.75, 1.64, 1.89, 1.7, 1.67, 1.68, 1.6, 1.69, 1.76, 1.6, 1.75]

{'Jalex': 1.8, 'Tomas': 1.8, 'David': 1.81, 'Natalio': 1.73, 'Monica': 1.73, 'Roxanna': 1.75, 'Filipa': 1.64, 'Elsa': 1.89, 'Cristina': 1.7, 'Clara': 1.67, 'Alba': 1.68, 'Valeria': 1.6, 'Jose Luis': 1.69, 'Gabriel': 1.76, 'Rochi': 1.6, 'Jose Maria': 1.75}

In [14]:
len(dicc2)

16

In [15]:
dicc2.keys()

dict_keys(['Jalex', 'Tomas', 'David', 'Natalio', 'Monica', 'Roxanna', 'Filipa', 'Elsa', 'Cristina', 'Clara', 'Alba', 'Valeria', 'Jose Luis', 'Gabriel', 'Rochi', 'Jose Maria'])

In [12]:
import pandas as pd

In [22]:
# Crear un dataframe pandas a partir de un diccionario

df_dicc2 = pd.DataFrame([[key, dicc2[key]] for key in dicc2.keys()], columns=['Nombre','Altura'])
df_dicc2

        Nombre  Altura
0        Jalex    1.80
1        Tomas    1.80
2        David    1.81
3      Natalio    1.73
4       Monica    1.73
5      Roxanna    1.75
6       Filipa    1.64
7         Elsa    1.89
8     Cristina    1.70
9        Clara    1.67
10        Alba    1.68
11     Valeria    1.60
12   Jose Luis    1.69
13     Gabriel    1.76
14       Rochi    1.60
15  Jose Maria    1.75

In [23]:
df_dicc2['Nombre']

0          Jalex
1          Tomas
2          David
3        Natalio
4         Monica
5        Roxanna
6         Filipa
7           Elsa
8       Cristina
9          Clara
10          Alba
11       Valeria
12     Jose Luis
13       Gabriel
14         Rochi
15    Jose Maria
Name: Nombre, dtype: object

In [34]:
df_dicc2.iloc[0]

Nombre    Jalex
Altura      1.8
Name: 0, dtype: object

In [33]:
df_dicc2.loc[4]

Nombre    Monica
Altura      1.73
Name: 4, dtype: object