# THE BRIDGE (Data Science Bootcamp - Agosto 2020)
##  PROYECTO INDIVIDUAL VERANO 2020 
________________
### Análisis de datos asociados a la oferta de empleo en Data Science

Fuente de datos (Data Set)  https://www.kaggle.com/andresionek/data-jobs-listings-glassdoor

Elaborado por : 

- ** Mónica Villasuso  **    villasuso.monica@gmail.com  git @MVillasuso
_________________

# HIPÓTESIS
"Al menos la mitad (50%) de la oferta laboral en el área de Ciencia de Datos corresponde a los perfiles de Análisis (Datos y Negocio)"

## 1. Librerías requeridas para el análisis (* Import *)
_________

In [1]:
import sys 
sys.path.append('../src/utils') 
import pandas as pd 
import numpy as np
from datetime import datetime
import folders_tb as ftb
import visualization_tb as vtb
import mining_data_tb as mtb

## 2. Carga de datos inicial, de la fuente, en el dataframe        

____________

### Información global de Glassdoor.com   
** Actualizado a Dic 2019 **  
Dataset con búsquedas para los siguientes perfiles

* data-scientist		**
* software-engineer
* data-analyst			**
* research-scientist
* business-analyst		**
* product-manager
* project-manager
* data-engineer		**
* statistician
* dba
* database-engineer
* machine-learning-engineer

https://www.kaggle.com/andresionek/data-jobs-listings-glassdoor

In [2]:
GlassD_df= pd.read_csv("glassdoor.csv", sep=",")

In [3]:
cnames_df = pd.read_csv("country_names_2_digit_codes.csv", sep =",")

_____________
### Información de Glassdoor en USA.   
** Actualizado a Julio 2020 **  
Cada dataset incluye las búsquedas para un determinado perfil, a saber: Data Analyst, Business Analyst, Data Engineer y Data Scientist
- https://www.kaggle.com/andrewmvd/data-scientist-jobs
- https://www.kaggle.com/andrewmvd/data-analyst-jobs
- https://www.kaggle.com/andrewmvd/data-engineer-jobs
- https://www.kaggle.com/andrewmvd/business-analyst-jobs

## Otras referencias consultadas
https://www.simplilearn.com/business-analyst-vs-data-analyst-article
https://blog.udacity.com/2014/11/data-science-job-skills.html

## 3. Preparación de los datos - Data wrangling and Data cleaning
________________
Exploración de los datos del dataframe

In [4]:

DA_df = pd.read_csv("DataAnalyst.csv", sep=",")
BA_df = pd.read_csv("BusinessAnalyst.csv", sep=",")
DE_df = pd.read_csv("DataEngineer.csv", sep=",")
DS_df = pd.read_csv("DataScientist.csv", sep=",")

### df_GlassD

In [5]:
GlassD_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165290 entries, 0 to 165289
Columns: 163 entries, benefits.benefitRatingDecimal to wwfu
dtypes: bool(11), float64(35), int64(23), object(94)
memory usage: 193.4+ MB

### df_jobs

In [6]:

GDjobs_df = mtb.elim_cols(GlassD_df)
GDjobs_df = mtb.transf_cols(GDjobs_df)
GDjobs_df = mtb.norm_country(GDjobs_df, cnames_df)

***NOTA: De las 163 columnas originales quedaron únicamente 19***

In [7]:
GDjobs_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 165290 entries, 0 to 165289
Data columns (total 21 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   empSize      147081 non-null  object
 1   easyApply    165290 non-null  bool
 2   empName      162045 non-null  object
 3   jobTitle     165290 non-null  object
 4   jobDate      165290 non-null  datetime64[ns]
 5   salHigh      3662 non-null    float64
 6   salLow       3662 non-null    float64
 7   jobDesc      165286 non-null  object
 8   jobSource    165290 non-null  object
 9   country      165285 non-null  object
 10  lat          165290 non-null  float64
 11  long         165290 non-null  float64
 12  location     165285 non-null  object
 13  foundedYear  165290 non-null  int64
 14  industry     117885 non-null  object
 15  revenue      147081 non-null  object
 16  sector       117917 non-null  object
 17  size         147081 non-null  object
 18  type         147081 non-null  object
 19  cname        120112 non-null  object
 20  ccode        120105 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(4), int64(1), object(14)
memory usage: 26.6+ MB

In [8]:
GDjobs_df.describe(include="all")

,empSize,easyApply,empName,jobTitle,jobDate,salHigh,salLow,jobDesc,jobSource,country,...,long,location,foundedYear,industry,revenue,sector,size,type,cname,ccode
count,147081,165290,162045,165290,165290,3662.000000,3662.000000,165286,165290,165285,...,165290.000000,165285,165290.000000,117885,147081,117917,147081,147081,120112,120105
unique,8,2,31114,64844,248,NaN,NaN,107692,217,2916,...,NaN,7074,NaN,137,13,25,8,14,177,176
top,10000--1,False,Amazon,Project Manager,2019-11-01 00:00:00,NaN,NaN,Credit Suisse Careers Credit Suisse Menu Job S...,Indeed XML Feed Employer,GB,...,NaN,Singapore,NaN,Computer Hardware & Software,Unknown / Non-Applicable,Information Technology,10000+ employees,Company - Private,United Kingdom,GB
freq,48801,147652,2494,4648,14099,NaN,NaN,33,53202,5525,...,NaN,5100,NaN,13971,58905,43063,48801,74918,5923,5923
first,NaN,NaN,NaN,NaN,2017-01-21 00:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,2019-11-10 00:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,115832.403605,77825.276898,NaN,NaN,NaN,...,29.642232,NaN,1273.873422,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,42077.284501,30736.395180,NaN,NaN,NaN,...,62.586654,NaN,942.425948,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,13.000000,10.000000,NaN,NaN,NaN,...,-171.983300,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,85217.500000,55283.500000,NaN,NaN,NaN,...,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,109630.500000,72435.000000,NaN,NaN,NaN,...,12.133300,NaN,1947.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,140000.000000,95966.000000,NaN,NaN,NaN,...,77.587300,NaN,1998.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,376948.000000,236650.000000,NaN,NaN,NaN,...,177.366700,NaN,2019.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
GDjobs_df = mtb.ubicar_loc(GDjobs_df)

In [10]:
GDjobs_df.describe(include="all")

,empSize,easyApply,empName,jobTitle,jobDate,salHigh,salLow,jobDesc,jobSource,country,...,long,location,foundedYear,industry,revenue,sector,size,type,cname,ccode
count,141083,159031,155894,159031,159031,3645.000000,3645.000000,159027,159031,159031,...,159031.000000,159031,159031.000000,112336,141083,112368,141083,141083,159031,159031
unique,8,2,30567,62403,225,NaN,NaN,103763,215,1760,...,NaN,5866,NaN,137,13,25,8,14,176,176
top,10000--1,False,Amazon,Project Manager,2019-11-01 00:00:00,NaN,NaN,Credit Suisse Careers Credit Suisse Menu Job S...,Indeed XML Feed Employer,GB,...,NaN,Singapore,NaN,Computer Hardware & Software,Unknown / Non-Applicable,Information Technology,10000+ employees,Company - Private,India,IN
freq,45851,141756,2490,4538,13863,NaN,NaN,33,53201,5525,...,NaN,5100,NaN,13394,57522,41629,45851,72602,7130,7130
first,NaN,NaN,NaN,NaN,2018-02-05 00:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,2019-11-10 00:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,115880.129767,77858.272702,NaN,NaN,NaN,...,30.333902,NaN,1261.071791,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,42097.684607,30759.817270,NaN,NaN,NaN,...,62.456589,NaN,946.722409,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,13.000000,10.000000,NaN,NaN,NaN,...,-171.983300,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,85222.000000,55283.000000,NaN,NaN,NaN,...,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,109641.000000,72500.000000,NaN,NaN,NaN,...,12.505200,NaN,1946.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,140000.000000,95966.000000,NaN,NaN,NaN,...,77.587300,NaN,1998.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,376948.000000,236650.000000,NaN,NaN,NaN,...,177.366700,NaN,2019.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
GDjobs_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 159031 entries, 0 to 165284
Data columns (total 21 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   empSize      141083 non-null  object
 1   easyApply    159031 non-null  bool
 2   empName      155894 non-null  object
 3   jobTitle     159031 non-null  object
 4   jobDate      159031 non-null  datetime64[ns]
 5   salHigh      3645 non-null    float64
 6   salLow       3645 non-null    float64
 7   jobDesc      159027 non-null  object
 8   jobSource    159031 non-null  object
 9   country      159031 non-null  object
 10  lat          159031 non-null  float64
 11  long         159031 non-null  float64
 12  location     159031 non-null  object
 13  foundedYear  159031 non-null  int64
 14  industry     112336 non-null  object
 15  revenue      141083 non-null  object
 16  sector       112368 non-null  object
 17  size         141083 non-null  object
 18  type         141083 non-null  object
 19  cname        159031 non-null  object
 20  ccode        159031 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(4), int64(1), object(14)
memory usage: 25.6+ MB

In [12]:
GDjobs_df = mtb.experience (GDjobs_df)

In [13]:
GDjobs_df["exp"].value_counts()

              128384
Senior         25929
Junior          3812
Internship       906
Name: exp, dtype: int64

In [14]:
GDjobs_df = mtb.level (GDjobs_df)

In [15]:
GDjobs_df["level"].value_counts()

Technical     49732
Manager       48515
Analyst       23834
Scientist      8720
Developer      5548
               4247
Product        4133
Consultant     3939
PMO            3727
Research       3408
Dba            2164
Director        597
Assistant       467
Name: level, dtype: int64

In [16]:
GDjobs_df = mtb.jobType(GDjobs_df)

In [17]:
GDjobs_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 159031 entries, 0 to 165284
Data columns (total 24 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   empSize      141083 non-null  object
 1   easyApply    159031 non-null  bool
 2   empName      155894 non-null  object
 3   jobTitle     159031 non-null  object
 4   jobDate      159031 non-null  datetime64[ns]
 5   salHigh      3645 non-null    float64
 6   salLow       3645 non-null    float64
 7   jobDesc      159027 non-null  object
 8   jobSource    159031 non-null  object
 9   country      159031 non-null  object
 10  lat          159031 non-null  float64
 11  long         159031 non-null  float64
 12  location     159031 non-null  object
 13  foundedYear  159031 non-null  int64
 14  industry     112336 non-null  object
 15  revenue      141083 non-null  object
 16  sector       112368 non-null  object
 17  size         141083 non-null  object
 18  type         141083 non-null  object
 19  cname        159031 non-null  object
 20  ccode        159031 non-null  object
 21  exp          159031 non-null  object
 22  level        159031 non-null  object
 23  jobType      159031 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(4), int64(1), object(17)
memory usage: 29.3+ MB

In [18]:
GDjobs_df["jobType"].value_counts()#(normalize=True)

       125550
BA      12126
DS       7510
DA       6334
DE       5523
ML       1988
Name: jobType, dtype: int64

In [19]:
GDjobs_df[(GDjobs_df["jobDesc"].str.contains("Python",na=False))]

,empSize,easyApply,empName,jobTitle,jobDate,salHigh,salLow,jobDesc,jobSource,country,...,industry,revenue,sector,size,type,cname,ccode,exp,level,jobType
13,5001-10000,False,Amaris,Big Data Analyst,2019-10-29,NaN,NaN,Amaris est une soci&eacute;t&eacute; ind&eacut...,Indeed XML Feed Employer,BE,...,Consulting,Unknown / Non-Applicable,Business Services,5001 to 10000 employees,Company - Private,Belgium,BE,,Analyst,DE
16,51-200,False,Harnham Search & Selection,Data Scientist Media,2019-11-01,NaN,NaN,<ul>\n<li>*Data Scientist media**</li>\n<li>*L...,Zoek UK,GB,...,Staffing & Outsourcing,£25 to £50 million (GBP),Business Services,51 to 200 employees,Company - Private,United Kingdom,GB,,Scientist,DS
22,10000--1,False,Best Buy,Data Scientist,2019-11-04,182160.0,132630.0,<strong>Job Title</strong>\n<br/>\nData Scient...,kenexaBrassRing,US,...,Consumer Electronics & Appliance Shops,£5 to £10 billion (GBP),Retail,10000+ employees,Company - Public,United States,US,,Scientist,DS
27,51-200,False,Derbysoft,Data Scientist,2019-09-11,NaN,NaN,<strong>Job Title:</strong> Data Scientist\n<b...,Indeed XML Feed Dradis,ES,...,It Services,Less than £1 million (GBP),Information Technology,51 to 200 employees,Company - Private,Spain,ES,,Scientist,DS
33,NaN,False,NaN,Data Scientist,2019-11-05,NaN,NaN,"Every day, employees working in Takeda's Globa...",JobisJob,Austria,...,NaN,NaN,NaN,NaN,NaN,Austria,AT,,Scientist,DS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165261,201-500,False,Dataiku,Technical Support Engineer,2019-10-25,NaN,NaN,Dataiku is looking for an experienced Technica...,Indeed XML Feed Dradis,AU,...,Computer Hardware & Software,£25 to £50 million (GBP),Information Technology,201 to 500 employees,Company - Private,Australia,AU,,Technical,
165262,1-50,False,Advans International,Data Analyst F/H,2019-11-06,NaN,NaN,"Poste en CDI bas&eacute; &agrave; Paris, avec ...",Indeed XML Feed Job Board,FR,...,Banks & Building Societies,£1 to £5 million (GBP),Finance,1 to 50 employees,Other Organisation,France,FR,,Analyst,DA
165263,NaN,False,Hcm Nexus,Data Scientist,2019-11-04,NaN,NaN,<strong>Main Activities and Responsibilities</...,Indeed XML Feed Dradis,PH,...,NaN,NaN,NaN,NaN,NaN,Philippines,PH,,Scientist,DS
165267,10000--1,False,Ubisoft,Data Analyst,2019-11-07,107219.0,68090.0,Job Description<br/><br/>Ubisoft is committed ...,neuvoo,US,...,Video Games,£2 to £5 billion (GBP),Media,10000+ employees,Company - Public,United States,US,,Analyst,DA
165275,51-200,False,Know-Center,Senior Data Engineer Mit Schwerpunkt Distribut...,2019-11-04,NaN,NaN,Arbeiten Sie gerne mit Kundinnen und Kunden zu...,Indeed XML Feed Employer,AT,...,NaN,Unknown / Non-Applicable,NaN,51 to 200 employees,Company - Private,Austria,AT,Senior,Technical,DE

## 4. Análisis de tendencias en los datos (EDA)
________________

### PIE CHARTS

### GRÁFICOS P

###   ANÁLISIS POR