## THE BRIDGE (Data Science Bootcamp - Agosto 2020)
##  PROYECTO GRUPO D 
________________
### Análisis de datos asociados al COVID-19 del grupo de paises conformado por Portugal, Venezuela, Turquía, Reino Unido y España.

Fuente de datos (Data Set)  "https://covid.ourworldindata.org/data/owid-covid-data.csv"

Team members: 
- José Luis Manjon  presimanjon@yahoo.es
- Filipa Teles      filipa.teles@icloud.com
- Mónica Villasuso  villasuso.monica@gmail.com
_________________

Import de las librerías requeridas para el análisis

In [1]:
import pandas as pd 
import json

Carga de datos en un dataframe de la fuente a utilizar

In [2]:
url = "https://covid.ourworldindata.org/data/owid-covid-data.csv"
covid_general = pd.read_csv(url, sep=",")
covid_general

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
0,AFG,Asia,Afghanistan,2019-12-31,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
1,AFG,Asia,Afghanistan,2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
2,AFG,Asia,Afghanistan,2020-01-02,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
3,AFG,Asia,Afghanistan,2020-01-03,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
4,AFG,Asia,Afghanistan,2020-01-04,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33622,NaN,NaN,International,2020-02-28,705.0,0.0,4.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33623,NaN,NaN,International,2020-02-29,705.0,0.0,6.0,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33624,NaN,NaN,International,2020-03-01,705.0,0.0,6.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33625,NaN,NaN,International,2020-03-02,705.0,0.0,6.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33626,NaN,NaN,International,2020-03-10,696.0,-9.0,7.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Exploración de los datos del dataframe

In [3]:
covid_general.shape

(33627, 34)

In [4]:
covid_general.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33627 entries, 0 to 33626
Data columns (total 34 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   iso_code                         33563 non-null  object
 1   continent                        33350 non-null  object
 2   location                         33627 non-null  object
 3   date                             33627 non-null  object
 4   total_cases                      33272 non-null  float64
 5   new_cases                        33272 non-null  float64
 6   total_deaths                     33272 non-null  float64
 7   new_deaths                       33272 non-null  float64
 8   total_cases_per_million          33208 non-null  float64
 9   new_cases_per_million            33208 non-null  float64
 10  total_deaths_per_million         33208 non-null  float64
 11  new_deaths_per_million           33208 non-null  float64
 12  new_tests                        10676 non-null  float64
 13  total_tests                      10904 non-null  float64
 14  total_tests_per_thousand         10904 non-null  float64
 15  new_tests_per_thousand           10676 non-null  float64
 16  new_tests_smoothed               11849 non-null  float64
 17  new_tests_smoothed_per_thousand  11849 non-null  float64
 18  tests_units                      12614 non-null  object
 19  stringency_index                 27316 non-null  float64
 20  population                       33563 non-null  float64
 21  population_density               32109 non-null  float64
 22  median_age                       30260 non-null  float64
 23  aged_65_older                    29821 non-null  float64
 24  aged_70_older                    30104 non-null  float64
 25  gdp_per_capita                   29891 non-null  float64
 26  extreme_poverty                  19987 non-null  float64
 27  cardiovasc_death_rate            30269 non-null  float64
 28  diabetes_prevalence              31297 non-null  float64
 29  female_smokers                   24018 non-null  float64
 30  male_smokers                     23730 non-null  float64
 31  handwashing_facilities           13856 non-null  float64
 32  hospital_beds_per_thousand       27518 non-null  float64
 33  life_expectancy                  33158 non-null  float64
dtypes: float64(29), object(5)
memory usage: 8.7+ MB

In [5]:
covid_general.index

RangeIndex(start=0, stop=33627, step=1)

Filtro (en un dataframe) de los datos correspondientes a los países del grupo D

In [6]:
paises_grupoD=["PRT", "VEN", "TUR", "GBR", "ESP"]
covid_grupoD=covid_general[covid_general.iso_code.isin(paises_grupoD)]
covid_grupoD

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
24458,PRT,Europe,Portugal,2020-03-01,NaN,NaN,NaN,NaN,NaN,NaN,...,14.924,27936.896,0.5,127.842,9.85,16.3,30.0,NaN,3.39,82.05
24459,PRT,Europe,Portugal,2020-03-02,NaN,NaN,NaN,NaN,NaN,NaN,...,14.924,27936.896,0.5,127.842,9.85,16.3,30.0,NaN,3.39,82.05
24460,PRT,Europe,Portugal,2020-03-03,2.0,2.0,0.0,0.0,0.196,0.196,...,14.924,27936.896,0.5,127.842,9.85,16.3,30.0,NaN,3.39,82.05
24461,PRT,Europe,Portugal,2020-03-04,4.0,2.0,0.0,0.0,0.392,0.196,...,14.924,27936.896,0.5,127.842,9.85,16.3,30.0,NaN,3.39,82.05
24462,PRT,Europe,Portugal,2020-03-05,5.0,1.0,0.0,0.0,0.490,0.098,...,14.924,27936.896,0.5,127.842,9.85,16.3,30.0,NaN,3.39,82.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32658,VEN,South America,Venezuela,2020-07-26,14263.0,0.0,134.0,0.0,501.584,0.000,...,3.915,16745.022,NaN,204.850,6.47,NaN,NaN,NaN,0.80,72.06
32659,VEN,South America,Venezuela,2020-07-27,15463.0,1200.0,142.0,8.0,543.784,42.200,...,3.915,16745.022,NaN,204.850,6.47,NaN,NaN,NaN,0.80,72.06
32660,VEN,South America,Venezuela,2020-07-28,15988.0,525.0,146.0,4.0,562.246,18.463,...,3.915,16745.022,NaN,204.850,6.47,NaN,NaN,NaN,0.80,72.06
32661,VEN,South America,Venezuela,2020-07-29,16571.0,583.0,151.0,5.0,582.748,20.502,...,3.915,16745.022,NaN,204.850,6.47,NaN,NaN,NaN,0.80,72.06
32662,VEN,South America,Venezuela,2020-07-30,16571.0,0.0,151.0,0.0,582.748,0.000,...,3.915,16745.022,NaN,204.850,6.47,NaN,NaN,NaN,0.80,72.06

In [5]:
covid_grupoD.info()# queriamos ver el tipo Dtype de cada columna

<class 'pandas.core.frame.DataFrame'>
Int64Index: 848 entries, 24306 to 32458
Data columns (total 34 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   iso_code                         848 non-null    object
 1   continent                        848 non-null    object
 2   location                         848 non-null    object
 3   date                             848 non-null    object
 4   total_cases                      846 non-null    float64
 5   new_cases                        846 non-null    float64
 6   total_deaths                     846 non-null    float64
 7   new_deaths                       846 non-null    float64
 8   total_cases_per_million          846 non-null    float64
 9   new_cases_per_million            846 non-null    float64
 10  total_deaths_per_million         846 non-null    float64
 11  new_deaths_per_million           846 non-null    float64
 12  new_tests                        369 non-null    float64
 13  total_tests                      394 non-null    float64
 14  total_tests_per_thousand         394 non-null    float64
 15  new_tests_per_thousand           369 non-null    float64
 16  new_tests_smoothed               457 non-null    float64
 17  new_tests_smoothed_per_thousand  457 non-null    float64
 18  tests_units                      485 non-null    object
 19  stringency_index                 825 non-null    float64
 20  population                       848 non-null    float64
 21  population_density               848 non-null    float64
 22  median_age                       848 non-null    float64
 23  aged_65_older                    848 non-null    float64
 24  aged_70_older                    848 non-null    float64
 25  gdp_per_capita                   848 non-null    float64
 26  extreme_poverty                  712 non-null    float64
 27  cardiovasc_death_rate            848 non-null    float64
 28  diabetes_prevalence              848 non-null    float64
 29  female_smokers                   712 non-null    float64
 30  male_smokers                     712 non-null    float64
 31  handwashing_facilities           0 non-null      float64
 32  hospital_beds_per_thousand       848 non-null    float64
 33  life_expectancy                  848 non-null    float64
dtypes: float64(29), object(5)
memory usage: 231.9+ KB

In [6]:
#covid_grupoD["date"]=pd.to_datetime(covid_grupoD["date"],format="%Y-%m-%d")
#covid_grupoD

In [7]:
covid_grupoD.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 848 entries, 24306 to 32458
Data columns (total 34 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   iso_code                         848 non-null    object
 1   continent                        848 non-null    object
 2   location                         848 non-null    object
 3   date                             848 non-null    object
 4   total_cases                      846 non-null    float64
 5   new_cases                        846 non-null    float64
 6   total_deaths                     846 non-null    float64
 7   new_deaths                       846 non-null    float64
 8   total_cases_per_million          846 non-null    float64
 9   new_cases_per_million            846 non-null    float64
 10  total_deaths_per_million         846 non-null    float64
 11  new_deaths_per_million           846 non-null    float64
 12  new_tests                        369 non-null    float64
 13  total_tests                      394 non-null    float64
 14  total_tests_per_thousand         394 non-null    float64
 15  new_tests_per_thousand           369 non-null    float64
 16  new_tests_smoothed               457 non-null    float64
 17  new_tests_smoothed_per_thousand  457 non-null    float64
 18  tests_units                      485 non-null    object
 19  stringency_index                 825 non-null    float64
 20  population                       848 non-null    float64
 21  population_density               848 non-null    float64
 22  median_age                       848 non-null    float64
 23  aged_65_older                    848 non-null    float64
 24  aged_70_older                    848 non-null    float64
 25  gdp_per_capita                   848 non-null    float64
 26  extreme_poverty                  712 non-null    float64
 27  cardiovasc_death_rate            848 non-null    float64
 28  diabetes_prevalence              848 non-null    float64
 29  female_smokers                   712 non-null    float64
 30  male_smokers                     712 non-null    float64
 31  handwashing_facilities           0 non-null      float64
 32  hospital_beds_per_thousand       848 non-null    float64
 33  life_expectancy                  848 non-null    float64
dtypes: float64(29), object(5)
memory usage: 231.9+ KB

In [8]:
covid_grupoD.set_index(["date"],inplace=True)

In [9]:
covid_grupoD

,iso_code,continent,location,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
date,,,,,,,,,,,,,,,,,,,,,
2020-03-01,PRT,Europe,Portugal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.924,27936.896,0.5,127.842,9.85,16.3,30.0,NaN,3.39,82.05
2020-03-02,PRT,Europe,Portugal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.924,27936.896,0.5,127.842,9.85,16.3,30.0,NaN,3.39,82.05
2020-03-03,PRT,Europe,Portugal,2.0,2.0,0.0,0.0,0.196,0.196,0.000,...,14.924,27936.896,0.5,127.842,9.85,16.3,30.0,NaN,3.39,82.05
2020-03-04,PRT,Europe,Portugal,4.0,2.0,0.0,0.0,0.392,0.196,0.000,...,14.924,27936.896,0.5,127.842,9.85,16.3,30.0,NaN,3.39,82.05
2020-03-05,PRT,Europe,Portugal,5.0,1.0,0.0,0.0,0.490,0.098,0.000,...,14.924,27936.896,0.5,127.842,9.85,16.3,30.0,NaN,3.39,82.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-07-25,VEN,South America,Venezuela,14263.0,650.0,134.0,5.0,501.584,22.858,4.712,...,3.915,16745.022,NaN,204.850,6.47,NaN,NaN,NaN,0.80,72.06
2020-07-26,VEN,South America,Venezuela,14263.0,0.0,134.0,0.0,501.584,0.000,4.712,...,3.915,16745.022,NaN,204.850,6.47,NaN,NaN,NaN,0.80,72.06
2020-07-27,VEN,South America,Venezuela,15463.0,1200.0,142.0,8.0,543.784,42.200,4.994,...,3.915,16745.022,NaN,204.850,6.47,NaN,NaN,NaN,0.80,72.06
2020-07-28,VEN,South America,Venezuela,15988.0,525.0,146.0,4.0,562.246,18.463,5.134,...,3.915,16745.022,NaN,204.850,6.47,NaN,NaN,NaN,0.80,72.06
2020-07-29,VEN,South America,Venezuela,16571.0,583.0,151.0,5.0,582.748,20.502,5.310,...,3.915,16745.022,NaN,204.850,6.47,NaN,NaN,NaN,0.80,72.06