## THE BRIDGE (Data Science Bootcamp - Agosto 2020)
##  PROYECTO IMDB
________________
### Análisis de datos asociados al dataset de IMDb

Fuente de datos (Data Set)  "data_title_basics.tsv"

- Mónica Villasuso  villasuso.monica@gmail.com  git @MVillasuso
_________________

Import de las librerías requeridas para el análisis

In [1]:
import pandas as pd 
import json 
import seaborn as sns
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

Carga de datos en un dataframe de la fuente a utilizar

In [2]:
titles_df = pd.read_csv("data_title_basics.tsv", sep="\t")

In [ ]:
ratings_df = pd.read_csv("data_ratings.tsv", sep="\t")
akas_df =  pd.read_csv("data_akas.tsv", sep="\t")

Exploración y limpieza de los datos del dataframe

In [3]:
titles_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7047600 entries, 0 to 7047599
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         int64
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: int64(1), object(8)
memory usage: 483.9+ MB

In [ ]:
titles_df.head(15)

In [4]:
titles_df.startYear.value_counts()

\N      577958
2017    370583
2018    368287
2016    354289
2015    338449
         ...
2028         1
1881         1
1885         1
1883         1
1988         1
Name: startYear, Length: 256, dtype: int64

In [35]:
titles_df["startYear"] = titles_df["startYear"].astype("str")

In [33]:
titles_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7047600 entries, 0 to 7047599
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         int64
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: int64(1), object(8)
memory usage: 483.9+ MB

In [26]:
titles_df.startYear.value_counts()

\N      577958
2017    370584
2018    368287
2016    354289
2015    338449
         ...
1885         1
1881         1
2115         1
2028         1
1883         1
Name: startYear, Length: 149, dtype: int64

In [37]:
# Dejar en un DF los titulos que no poseen fecha de lanzamiento
nostartYear = titles_df[titles_df["startYear"]=="\\N"]

In [39]:
# Eliminar del DF de titulos aquellos que NO poseen fecha de lanzamiento
titles_df = titles_df[~(titles_df["startYear"]=="\\N")]

In [40]:
nostartYear.shape

(577958, 9)

In [41]:
titles_df.shape

(6469642, 9)

In [42]:
titles_df.startYear.value_counts()

2017    370584
2018    368287
2016    354289
2015    338449
2019    336036
         ...
1885         1
2115         1
1883         1
1881         1
2028         1
Name: startYear, Length: 148, dtype: int64

In [43]:
titles_df.startYear = pd.to_datetime(titles_df["startYear"], format = "%Y")

In [44]:
titles_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6469642 entries, 0 to 7047599
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         int64
 5   startYear       datetime64[ns]
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: datetime64[ns](1), int64(1), object(7)
memory usage: 813.6+ MB

In [53]:
titles_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6469642 entries, 0 to 7047599
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         int64
 5   startYear       datetime64[ns]
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: datetime64[ns](1), int64(1), object(7)
memory usage: 813.6+ MB

In [52]:
titles_df.groupby("startYear").count()

,tconst,titleType,primaryTitle,originalTitle,isAdult,endYear,runtimeMinutes,genres
startYear,,,,,,,,
1874-01-01,2,2,2,2,2,2,2,2
1878-01-01,2,2,2,2,2,2,2,2
1881-01-01,1,1,1,1,1,1,1,1
1883-01-01,1,1,1,1,1,1,1,1
1885-01-01,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...
2025-01-01,5,5,5,5,5,5,5,5
2026-01-01,7,7,7,7,7,7,7,7
2027-01-01,5,5,5,5,5,5,5,5
2028-01-01,1,1,1,1,1,1,1,1
2115-01-01,1,1,1,1,1,1,1,1

In [60]:
# DF con las películas o series cuya fecha de lanzamiento es del siglo XXI y previa a agosto de 2020
titles_df_2000 = titles_df[(titles_df.startYear >"1999-12-31") & (titles_df.startYear <"2020-08-01")]

In [61]:
titles_df_2000.shape

(4721101, 9)

In [62]:
titles_df_2000.groupby("startYear").count()

,tconst,titleType,primaryTitle,originalTitle,isAdult,endYear,runtimeMinutes,genres
startYear,,,,,,,,
2000-01-01,86248,86248,86248,86248,86248,86248,86248,86248
2001-01-01,95146,95146,95146,95146,95146,95146,95146,95146
2002-01-01,99026,99026,99026,99026,99026,99026,99026,99026
2003-01-01,110646,110646,110646,110646,110646,110646,110646,110646
2004-01-01,128201,128201,128201,128201,128201,128201,128201,128201
2005-01-01,142699,142699,142699,142699,142699,142699,142699,142699
2006-01-01,158447,158447,158447,158447,158447,158447,158447,158447
2007-01-01,175336,175336,175336,175336,175336,175336,175336,175336
2008-01-01,189049,189049,189049,189049,189049,189049,189049,189049
2009-01-01,198980,198980,198980,198980,198980,198980,198980,198980
2010-01-01,225177,225177,225177,225177,225177,225177,225177,225177
2011-01-01,257015,257015,257014,257014,257015,257015,257015,257015
2012-01-01,286345,286345,286345,286345,286345,286345,286345,286345
2013-01-01,307205,307205,307205,307205,307205,307205,307205,307205
2014-01-01,324288,324288,324288,324288,324288,324288,324288,324288
2015-01-01,338449,338449,338447,338447,338449,338449,338449,338449
2016-01-01,354289,354289,354288,354288,354289,354289,354289,354289
2017-01-01,370584,370584,370584,370584,370584,370584,370584,370584
2018-01-01,368287,368287,368286,368286,368287,368287,368287,368287
2019-01-01,336036,336036,336035,336035,336036,336036,336036,336036
2020-01-01,169648,169648,169647,169647,169648,169648,169648,169648